kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ vm_name }}
  namespace: {{ vm_namespace }}
spec:
  to:
    kind: Service
    name: {{ vm_name }}
    weight: 100
  port:
    targetPort: 80
  wildcardPolicy: None
