kind: Service
apiVersion: v1
metadata:
  name: {{ vm_name }}
  namespace: {{ vm_namespace }}
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
  selector:
    kubevirt.io/domain: {{ vm_name }}
